* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --bg-color: #F9FAFB;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-container {
    background-image: url(./nahil-naseer-xljtGZ2-P3Y-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 35vw;
}

.right-container {
    height: 100vh;
    width: 65vw;
}

.header {
    background-color: var(--bg-color);
    height: 30vh;
    width: inherit;
}

.body {
    height: 40vh;
    width: inherit;
}

.footer {
    background-color: var(--bg-color);
    height: 30vh;
    width: inherit;
}